<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
       <Component Id="ProductComponent">
         <Shortcut Id="RTFTDIFShortcut" Target="$(var.TargetPath)" Directory="RTFTDIFShortcutFolder" Name ="!(loc.APPNAME)" Description="!(loc.APPDESCRIPTION)" WorkingDirectory="INSTALLFOLDER" Icon="APPICON.ico" ></Shortcut>
         <RegistryValue Id="RTFTDIF_Reg" Root="HKCU" Key="SOFTWARE\RTFTDIF" Name="Installed" Value="1" Type="integer" KeyPath="yes"></RegistryValue>
         <RemoveFolder Id="RemoveShortcut" Directory="RTFTDIFShortcutFolder" On="uninstall"/>
       </Component>      
    </ComponentGroup>
	</Fragment>
</Wix>
