<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp4B8871361F465B0CD0BB8C4585619283" Guid="{99489B61-C5C6-4EE6-BBDE-3715979EEF2E}">
                <File Id="filD16F187F3551F00F2E9B5E3422290080" KeyPath="yes" Source="$(var.HarvestPath)\CommonServiceLocator.dll" />
            </Component>
            <Component Id="cmpB672282A90357A6C1784C5D098ACC9AD" Guid="{A30A9C2E-8383-4916-BC06-FB5040CC0904}">
                <File Id="fil7A3414D8963CADFD7336D118F04266DA" KeyPath="yes" Source="$(var.HarvestPath)\ControlzEx.dll" />
            </Component>
            <Component Id="cmp9F3B8525E0F04D692C2F02377569787E" Guid="{4CC46B06-148A-4BEA-B99F-4183805DFA13}">
                <File Id="filEB8763838E80AF060F5E8754C614AF4F" KeyPath="yes" Source="$(var.HarvestPath)\ControlzEx.pdb" />
            </Component>
            <Component Id="cmp07A234C7891318D2D5BD05565EE3AEA5" Guid="{A04BB6CC-75A3-4B20-BAB7-38C494DB9BAF}">
                <File Id="fil37C959533EB1A86046CD227075B0148F" KeyPath="yes" Source="$(var.HarvestPath)\Dapper.dll" />
            </Component>
            <Component Id="cmp8C5AF62CD7BCEFC86DC440ACEFD9C214" Guid="{DAA3CD13-2185-46AB-8DA7-9368E5C9C8E2}">
                <File Id="fil818F4FF1D4E6C01D20C12BF4BC69DA4B" KeyPath="yes" Source="$(var.HarvestPath)\Dapper.xml" />
            </Component>
            <Component Id="cmp038FACCC80578B11747DD2EA77112BEE" Guid="{53945B29-83D5-4EEF-B97F-17A54D283E16}">
                <File Id="filECF418D7685C5F4CD6848CBDE1B1FB40" KeyPath="yes" Source="$(var.HarvestPath)\DbInitializer.dll" />
            </Component>
            <Component Id="cmp73830CD9177E0CE8D8C11EADD9CF7D36" Guid="{F11D2F8E-A9DC-40EB-8466-FAD9E58F4508}">
                <File Id="filFD239B09B2FCA4E955C8D2BDEB915135" KeyPath="yes" Source="$(var.HarvestPath)\DbInitializer.pdb" />
            </Component>
            <Component Id="cmp21F309C806FA488DFFFE5378BCF611FF" Guid="{65A7570E-0808-45BA-B5D3-C815E87CC83F}">
                <File Id="fil144615CECAA1643F18747602C1CE74E7" KeyPath="yes" Source="$(var.HarvestPath)\log4net.config" />
            </Component>
            <Component Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" Guid="{584FF8BC-20F8-476F-9E03-45BF55C6451C}">
                <File Id="fil53CF67BC1F7314B08C1D64A6CEA223E4" KeyPath="yes" Source="$(var.HarvestPath)\log4net.dll" />
            </Component>
            <Component Id="cmpEBCF0D0A4FC6E01EB62B28713DC91F16" Guid="{F6A14A4E-30E9-4CE2-A275-B448A8C8B3DB}">
                <File Id="fil0885A673E61C20CCCC217C83F1E1A4BD" KeyPath="yes" Source="$(var.HarvestPath)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp430143AC1B965FB160AED13BF62F0CF0" Guid="{29B75C13-85A0-4147-81B5-3010494C052F}">
                <File Id="fil0BA7F23802A5A348189154A3C5346207" KeyPath="yes" Source="$(var.HarvestPath)\MahApps.Metro.pdb" />
            </Component>
            <Component Id="cmp5F2B662C8566260DEF107E5F8DB64CEF" Guid="{9A24326E-1FD0-4302-AF43-D64C79360F30}">
                <File Id="fil3EA1FF7BCBD9CCED4CB4B3B00013FA10" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Controls.dll" />
            </Component>
            <Component Id="cmp58CEACCFC2B4B7DF5692547C8E74EA4D" Guid="{23E9C514-7FEC-4294-9EC9-3B1A1963DA5F}">
                <File Id="fil8A46EFE3B005C2428252275364816D9A" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Drawing.dll" />
            </Component>
            <Component Id="cmp28E06576F74BDB8BDBA84BD9353180B0" Guid="{08967EC8-8804-4DB3-A448-E1A27AF74CF7}">
                <File Id="fil40F72B27EC9290D0C183157874AC25F8" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Effects.dll" />
            </Component>
            <Component Id="cmp47587D6E893FE9602B596FCC4408C7B0" Guid="{4A9C6482-595D-4099-BB06-2CD4B12238BD}">
                <File Id="filEBA79DDE806132D113F04DC0E3BC4FAA" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Interactions.dll" />
            </Component>
            <Component Id="cmp1C8B172154D0D9E510FE5CF40B1A5EC4" Guid="{ED4B389F-06FE-43AC-88CB-80EEFB8F2E7F}">
                <File Id="fil231137ADF0A7AC640BB28A8F66D8F7F2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Prototyping.Interactivity.dll" />
            </Component>
            <Component Id="cmpD947E2550229E0410FF8CC13D7C3C8B8" Guid="{0E499798-42FD-4BD9-B2D8-78AA6AED62F9}">
                <File Id="filB59B3DC56CD6567F05CA77A024DBE192" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Expression.Prototyping.SketchControls.dll" />
            </Component>
            <Component Id="cmpF1707418DD62DFFE24F254DC7A01A168" Guid="{25A9C398-F8C5-4395-B4A5-2071E4E97B10}">
                <File Id="fil8AAD5B4E4F614125F873327CDF473CC2" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.SDK.Expression.Blend.dll" />
            </Component>
            <Component Id="cmp9CFD8F6077EAA64A188B00D4268FAA1A" Guid="{3C0FADBB-D34E-4107-B7B3-193A9EE80F51}">
                <File Id="fil78066B962EBBED0CD04A38EBB7A43855" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmpBD277BBDDA3214E6CD6906751391D08B" Guid="{12230A7F-D9A0-4BD6-B6BB-226A09C539A4}">
                <File Id="fil8EF304D7D2CA8D4AE55FE795420AF87E" KeyPath="yes" Source="$(var.HarvestPath)\NeotericDev.Commons.Logger.dll" />
            </Component>
            <Component Id="cmpBB6519C2BAC0597BC58C1C3F87B02CB3" Guid="{35809EE8-CA48-4565-9B2E-617138A6EC19}">
                <File Id="fil5B6200ADF38E0487BCEB9F1A8DFCB288" KeyPath="yes" Source="$(var.HarvestPath)\NeotericDev.Commons.Logger.pdb" />
            </Component>
            <Component Id="cmp921C9DB1539A19CC0B4105688D50941F" Guid="{701F5CE0-59A0-4F0C-A5BB-E02C7C48A741}">
                <File Id="fil129504C0E557BCD3D6C023F36AF7243F" KeyPath="yes" Source="$(var.HarvestPath)\netstandard.dll" />
            </Component>
            <Component Id="cmp6B3D4B287C7C86EAC3C0F64DBCDDCC6D" Guid="{956DF58A-ECA1-4E12-A39A-5FDC00736C53}">
                <File Id="filFB5BDE98F1F558FC0EAE7E65C66CD726" KeyPath="yes" Source="$(var.HarvestPath)\Prism.dll" />
            </Component>
            <Component Id="cmpDE9A48C1618FA47B96E8DCB8646587A3" Guid="{A12AA1E7-448B-41A6-A49B-F2ABD4E6FBB3}">
                <File Id="fil039E02ACAFD60DC919FE22B7A74C2D1D" KeyPath="yes" Source="$(var.HarvestPath)\Prism.pdb" />
            </Component>
            <Component Id="cmp19FEAABB4159504E3A1F2078277DF252" Guid="{C43A90C7-EE59-4C7A-BA39-C2CF72052E55}">
                <File Id="filDD2F9AFDCC337C2174F2B1E720122B87" KeyPath="yes" Source="$(var.HarvestPath)\Prism.Unity.Wpf.dll" />
            </Component>
            <Component Id="cmpF8A742986260DAFDC2451820878482CD" Guid="{A31E0215-BB36-449E-8727-0E4360F3E59C}">
                <File Id="fil3C993110A83E12CDF07066C867F378F5" KeyPath="yes" Source="$(var.HarvestPath)\Prism.Unity.Wpf.pdb" />
            </Component>
            <Component Id="cmp4F3B8E6E9354C403A682AA6763F98331" Guid="{A24391BF-5DA5-4D5D-AABC-11B6FA2DCC92}">
                <File Id="filF18A0475CB43A153CBE8244DDBCB0E69" KeyPath="yes" Source="$(var.HarvestPath)\Prism.Wpf.dll" />
            </Component>
            <Component Id="cmp8A6A28109A590CF4C48F92CF7ACBE162" Guid="{560B94D0-E6F5-414F-A5C7-F5415E93DE9B}">
                <File Id="fil45894BF1DBA7A52FA596EF64627D7E04" KeyPath="yes" Source="$(var.HarvestPath)\Prism.Wpf.pdb" />
            </Component>
            <Component Id="cmp0C89F58D0DAE59595BF54DB37A1CB101" Guid="{5E70116F-C004-4913-8C9C-7143831B10CC}">
                <File Id="fil763D88D8EFBCDC48C730BD63011DDAD5" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Common.dll" />
            </Component>
            <Component Id="cmpEEB7D6B49D39601FBF24341DF8362CBC" Guid="{E3A95B7B-9D73-4066-9A67-7BABA912D4BF}">
                <File Id="fil20C7996E2F56D32C010FFF817DEAA06D" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Common.pdb" />
            </Component>
            <Component Id="cmp35BB94EBE046695DA80625F00AE15A6D" Guid="{34E819D9-2062-45DB-A4DD-8B6A6454AB85}">
                <File Id="fil1757D3103AEE7275B4206ABC1A74C04B" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Core.dll" />
            </Component>
            <Component Id="cmpE49A068CEE1EC2D58E43E28165A61566" Guid="{A947E586-0950-4235-8E71-216836A147AA}">
                <File Id="fil3EB5E26A0AC134527068F2254B136DF4" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Core.pdb" />
            </Component>
            <Component Id="cmp95C00402E6D16B03EC9A672AFBD5F28B" Guid="{6EE996D5-FAE0-43A2-99E5-FFC0F3D1DB72}">
                <File Id="fil8954E2005AE3F259857443DEF23EB264" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.DataAccesss.dll" />
            </Component>
            <Component Id="cmp08BBCF3042FA2A3A63B8F1D4AB119F46" Guid="{86D8D9EE-8C23-42BD-A1CD-7DAA41917658}">
                <File Id="fil3C91C6A50DB0A009A614655EE841242A" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.DataAccesss.pdb" />
            </Component>
            <Component Id="cmp5E0DF6403C7FE5F1C4177DB7C407F3E6" Guid="{5BA141FA-87FD-4C23-87B2-822FB21EB56B}">
                <File Id="fil724BDB24CB4D5523BCE242D0B12C3E91" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Metro.exe" />
            </Component>
            <Component Id="cmp2C14DFEEA59FCDC50F5236011B7194C6" Guid="{2319E9B8-2863-44A2-843A-97B702AE127F}">
                <File Id="fil8EC565C4FED842CE2C772B4C83728C2C" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Metro.exe.config" />
            </Component>
            <Component Id="cmp442FFE970EED4291AA569552CD47DCFF" Guid="{485D38CA-1349-40BC-BFFE-F5D473316EBD}">
                <File Id="filDD31A3C8C73FD11018FB1650FFFF4654" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.Metro.pdb" />
            </Component>
            <Component Id="cmp365DD4D03A498CBF043F2E5129730F80" Guid="{122BE92B-86E7-4FC6-844D-D9C272DC72AA}">
                <File Id="fil0BA3299296DFEAC1532E80CAAA1CAA70" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.VM.dll" />
            </Component>
            <Component Id="cmpFB13B502405B98FC3D5D9B91156465D5" Guid="{7769DDE7-ABFA-4418-BD98-144FB5B8B134}">
                <File Id="fil1878A8395DB8B5FEA7FEB4710FEA0691" KeyPath="yes" Source="$(var.HarvestPath)\RTFTDIF.VM.pdb" />
            </Component>
            <Component Id="cmpE9A753B853001A3132F0AC8B18B8EB00" Guid="{A28ACDF6-7C59-446A-BCCF-955FCE98DE45}">
                <File Id="fil2CA2C2E32FE967654B6D72FA6BBDE5DF" KeyPath="yes" Source="$(var.HarvestPath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpE622C3CB93600C548BD343B23FF42EE8" Guid="{A6FBE475-D8DF-419C-8471-08921C4C2CCB}">
                <File Id="fil30E000ECA4F9FAEEB477C110D5DAC23F" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp06C8CDD284EC9C3BFF25B29C5BAFCE79" Guid="{F4281C6B-2D81-4A52-88EF-3BDE84A50BE1}">
                <File Id="fil03E796C3CD4D934DAC65F4A2A67F8160" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp5B4A477CCB780900D714C03EBF973289" Guid="{0DE0F113-44F2-41AC-AD81-E6C5AA7E1BCB}">
                <File Id="filF7B87AE8CA584C16EF82554226CD282B" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp2E70A13F8878B3D396BFB0F38F143B89" Guid="{BB74109A-7756-4C4D-A9E4-CB395800EF59}">
                <File Id="fil037762CB7CF141769A16F671C5B78754" KeyPath="yes" Source="$(var.HarvestPath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmpF1E04B8775339ACC715F8FA97768460D" Guid="{CBA813DF-3255-4465-B797-548C5287EA4C}">
                <File Id="fil98D0FC8050D518911AC3E6ED6303E2F1" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp22D11CA39403A28AA9AC2DB9105A1273" Guid="{4E4B6D03-A3F5-49BE-8C6E-CD407113A02F}">
                <File Id="fil10E099A7F1044DA622316C8ED29F65BD" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp07F275DE6D7E9E3A970A1A86777CEF22" Guid="{27093F89-7888-4A1A-BB18-BB325BF1EDC0}">
                <File Id="fil9CC21ADAAA5B50C725B03FF66B824B9C" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmpD9FEE78B96F10D88D63C02E70AB799A5" Guid="{585C5B0B-4CE5-4849-B8A1-0B8CC849A7F2}">
                <File Id="fil45DB7AD4658C8305496BC73C4194F502" KeyPath="yes" Source="$(var.HarvestPath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmpDA89116CA47D6ED2AE5511C0278ECA46" Guid="{09A76A8C-F84C-423D-94D5-80794C0E2418}">
                <File Id="fil31BDF8E43DB6357B3A0A53DB3FF012E1" KeyPath="yes" Source="$(var.HarvestPath)\System.Console.dll" />
            </Component>
            <Component Id="cmpCF7D159A9F6C4F17685CC3AA3AB77C61" Guid="{D328E9CF-64AA-4470-82F8-D130359B3722}">
                <File Id="filD3EB07A321DD85414B0192F70A4841E8" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp92167893C4A70A154F72D6DA80CECEAA" Guid="{9EBD5003-A195-41FF-83AC-2405F9701053}">
                <File Id="filBD733973B2B00B6164DEB7924D04056B" KeyPath="yes" Source="$(var.HarvestPath)\System.Data.SqlServerCe.dll" />
            </Component>
            <Component Id="cmp4B7754714BB7B52B3E216332BD72E98B" Guid="{1812E98E-8694-4894-8FB8-D30F10B3AE04}">
                <File Id="fil2D600FF0E79738B8823F05510086D213" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp340922508C520AC9F7D53B9608D8BD38" Guid="{B0337084-EBB0-490C-8B0F-8520580F6FE0}">
                <File Id="filEE1E4A07829FDF5F2223245B4944ED58" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp0F564880F72275CA7677A8DD804A8B17" Guid="{DECB343B-D192-4216-B26B-86C8D73F61B0}">
                <File Id="filD602B25D206BA4C87BE0DD30747E62BA" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmp5E98F56B38CF31482ACC957203361E97" Guid="{2273AC13-A5B7-4FDD-B8C8-A6F0DAAB70DB}">
                <File Id="fil2CF5B91EFBD9DEDD8714D8168149DDA4" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmp8F2F2AFC021587C179C141365A3D6BB6" Guid="{A687778F-1D07-42D9-B31C-871C76852168}">
                <File Id="filFEE32DF5E1B121F6551C575EC215FA6C" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp3FBF34ED4FE4614A5981C3EB0EB7278D" Guid="{0958D17B-FDB2-4427-AA66-73C8D6A3EE2B}">
                <File Id="filA62CCE7E4F5181012C025007FA0AA5D9" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp21ED214D6D9049B022FAC25D88F0E22E" Guid="{F5C9D5E4-9AB7-4F3B-9BC0-F530FDF46E82}">
                <File Id="filFF6AD922A4CD98F2A1E34932CFF7A5F5" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp3B22BEC510D0BA95B49CC4731E0B72AB" Guid="{75AD9DEE-A23E-488F-A413-5CB30DD21716}">
                <File Id="fil81CB2A319A11C5A4517E9F446F320466" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmpAA3288E4E0F8EDD4B915BDB149D58D86" Guid="{342DDA71-8B54-45BD-AF19-BF2B7CC032EF}">
                <File Id="fil44F3D27E20C6EEE750BADDBD54625F17" KeyPath="yes" Source="$(var.HarvestPath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp075C0CF977B23B7E530FD43DCCCD0BA8" Guid="{A77A1B77-3CAC-4905-AD0E-73B9ACCFB177}">
                <File Id="filCCC31DAE66D8FBA34A41F0A8ABFF9EE1" KeyPath="yes" Source="$(var.HarvestPath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp9B40237B1382275DBCF762EC666A3642" Guid="{C2620851-85F9-449A-8892-04314EF834BD}">
                <File Id="fil2F50D86CEF3234E3D3A6E7D6C3084D66" KeyPath="yes" Source="$(var.HarvestPath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpA6081DADA58FA2942DDC74B091A65D72" Guid="{B2D8BE08-0CC4-40E8-A7BF-E0DB1A079111}">
                <File Id="fil98FEB7BD0FC19B1E58C62546612BB561" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp90E6A6910EED445FDEC1FE472C5CF526" Guid="{9245746A-00D5-43AF-968C-73F8D2159096}">
                <File Id="fil30C13FC312DB3F0753E2487D640E0A7A" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp5BFCA70DF937223BA6FF946025D6DFA4" Guid="{162FF78D-1CA6-42F6-9646-C5F068F74E69}">
                <File Id="fil01B3FF593E90506A42DD4994429ACA3D" KeyPath="yes" Source="$(var.HarvestPath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp2863E64FC19A1CA67C2F6C9F8AEC7200" Guid="{1BFFD85C-75A6-4EA3-845B-36F8F8FDA984}">
                <File Id="filFDEF66DA4A6F50DF9FF96A902F0CC718" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpB790EE6B9163607EC7935D2DF19C5590" Guid="{266CDBC0-BE0C-4AA5-BE16-C740ACCA9D10}">
                <File Id="fil0BB55A0B4FAE6E25CF19F286E60CBC97" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp59CBFE03A226AF8477FCA7546DBCF1BF" Guid="{59FCD751-A5F5-473A-AE12-733EBBEEA0F3}">
                <File Id="fil01DF515DF66A7F7FB99518A28D87D76D" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.dll" />
            </Component>
            <Component Id="cmp1340F860D05C3E278E5B5D807AB80DB0" Guid="{020841F3-5EB0-4008-BDF8-0CF6F64AAE2E}">
                <File Id="fil4D68F2B2ADF2AA04D3D3D4CCCC4EAAE3" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmpD1D498F7019160F009023115E4FEE6C2" Guid="{6E5FECF5-97A7-48B3-894E-B80DB5535095}">
                <File Id="fil1C908C174C8664738D865D794D78CF1C" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmp5B47063E44613CCE90C8E253A14CC5E5" Guid="{E649E995-FCB2-487B-BD31-4E20C01384C7}">
                <File Id="fil8857AE510461D63EDBB88B9E6F963952" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp8BB3565982AD2D2DED0C96703059A639" Guid="{FF5A8416-0AF7-4141-8DF0-A279FF907F94}">
                <File Id="fil4BC6748D8454C80FEC27E18065B0D1EB" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp6C0977466AFC8EEE6E38CD3600F8C83C" Guid="{AFDE5F92-4526-4870-9F14-F1018DB9D1A6}">
                <File Id="fil5FC00FBC83714B0DE187D8603A1EFEBA" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmpF2595E455DEC524BB35E4AC0E09C4F69" Guid="{406EB0DC-BFE0-4BC5-BAC8-D472D2D6E755}">
                <File Id="filD37DD2200ADD696D8B5D700BF9487971" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp3885D41C35A7C698E5E9741272F0BF37" Guid="{689468E5-6700-4244-9485-CD5D3A5A9485}">
                <File Id="fil33ED0F9B2CC5AB99A53A92906338B6A8" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmpB6BC4BE5EBB8340A7664DAB01BE973D7" Guid="{61AE6456-4C93-406B-9D3F-0BC2D6BF7593}">
                <File Id="filCE804542D6FB778C421A696B3B89016D" KeyPath="yes" Source="$(var.HarvestPath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpB31F2EB4ED7747D2B1EC2BEB4D5F9A6B" Guid="{192FC23A-2D6E-4039-BB80-EE5FD6BD9B1A}">
                <File Id="filEB69B4FC00D20E2A1822A4A11A084E63" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.dll" />
            </Component>
            <Component Id="cmp75F169005ADA3DC2A95F4F7257603060" Guid="{077D0123-3DB8-4B31-838E-06A42A877E62}">
                <File Id="fil962F290F7DA61A9ECE4146AB837C5899" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmpFA1D888C360F3B61DDBBB2E2B15A0AF7" Guid="{06790BBA-2D60-412F-93E0-416EB7F64A13}">
                <File Id="fil607B5B0680F86FA38C04210543CC4E4B" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmp30FC9B24809331DB695A7544E408AADF" Guid="{8A06DC48-FEE9-49E9-9302-F086A91FE451}">
                <File Id="fil690D90C3AA66A0B3F9F4189AC97A80CA" KeyPath="yes" Source="$(var.HarvestPath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmpEE6F3C97F8A13DFF50C82F2086ACD931" Guid="{8B788B5C-365D-4090-8145-530C8FC9CD6D}">
                <File Id="fil8D921BBEABD9993326747E67D5B657A6" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp2A4F1DA964EBC16D235E6B85C5F4C470" Guid="{A8598CC5-BBE4-43E6-8273-AB60CD8D793A}">
                <File Id="fil7A4FB852428F4DD287224B6942A9DDE6" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmp2A8044F741CF06F5621E75D208389078" Guid="{58FA9258-4301-411A-9132-F9C4441569B9}">
                <File Id="filE8BB37829510AB7F100110A1F1AEEC55" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmpAD1E08F90B6A7114815FB78986682365" Guid="{427F1124-6E4D-474C-B8AD-57DE3BBDBA01}">
                <File Id="fil6A2546CF5875245A515BC214F8F0E788" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp0FC5541E8992775B2D4FEEF5883D7A0D" Guid="{F28F8668-C7DF-444B-890B-DCBA0987D26A}">
                <File Id="filE2F41415978D7915548AA2BC6DE80848" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmpF89F1FA48B1DA1CFD5BF3D3965A27836" Guid="{059F19DE-21CC-4A20-853F-DFBE0AE92989}">
                <File Id="fil7B8C44B11A6ACCCB7FCBAA45F48B3E50" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp034B40EC21535B804709C422E6963EBB" Guid="{55E42BDE-9944-40C2-B906-E24174D239FB}">
                <File Id="filC7AD2C6BF241C09EEEABFAD78CD42872" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmpAAFBD0B608B2D5A98F19D1B368C06F5E" Guid="{BB9BC1E4-1AF5-4819-9A53-F26C6210BE50}">
                <File Id="fil36CD1E810E86D89C7288E2DFB4415CB8" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpC5062445DA9609107D43D73033E1B891" Guid="{9233CF3B-B3BD-41EA-8067-F670C2B91E5C}">
                <File Id="fil0AA5C1955473E782DBD41FE6D91B2201" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmpB6498C4CE4FBAB2BE61E7E78764F402A" Guid="{46E63DEF-2D3A-405B-8445-29AE910D333E}">
                <File Id="fil3D1010E5A2D9D9948B2F3C448F09D5AC" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmp80A2E58399E3E2800D2343BF09753328" Guid="{7359A071-910E-4C00-B5E1-64DE9B204DF8}">
                <File Id="fil2FE01FAB9AEB43F1321AA1EEF0D85FFC" KeyPath="yes" Source="$(var.HarvestPath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmpDFD28E9D7CD80800F14AA14DED487CFE" Guid="{7EB4AEC2-42EF-4770-B548-652095524364}">
                <File Id="fil6406570AFCB07402E5684512197F7204" KeyPath="yes" Source="$(var.HarvestPath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmpA3038A3D1F72A00B149E6F759F6786AC" Guid="{7AF2A37D-8497-4AD9-9BD5-43386C0BFA6D}">
                <File Id="filCAEF4A2574FBC6B7F01DDD25C797E1CB" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmp9AEFC5F55F644A7ABBC072F54A6475E2" Guid="{417FAAA2-E4B7-4CDC-9F75-5031EEAD2B9A}">
                <File Id="filBBBF0703249F1C8EFBCF6825C9A9C8B0" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp1015F0C158D41E6CB0412B4E21E94620" Guid="{811CA6AB-09D6-4FED-A22C-A6239E9CF540}">
                <File Id="fil73DFE0E913AA91675AB8E98A35762967" KeyPath="yes" Source="$(var.HarvestPath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp609558733F6FC6F9992DE4840E299F2F" Guid="{279B7515-30C6-4C9A-854E-501E2D674CBC}">
                <File Id="filA73577FE4A530A559FFAFCA40DE558D1" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmpED167AAE4D9652874A1F649DCF15D809" Guid="{1262511A-4C5D-474C-9FAA-3DADCCBF1268}">
                <File Id="filB0895EC75923C8A047BAB632ED386910" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp32264F2B218F58B031B8DB4D6BF26C84" Guid="{C855216D-E444-44BD-8900-FEAA338C4370}">
                <File Id="filEA04C0B31CD2D55CE93DB70A387ACCA6" KeyPath="yes" Source="$(var.HarvestPath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmp123018225749B93143B4E5497284F4D8" Guid="{EB060F44-C11D-470D-9AFD-92194DE4AF47}">
                <File Id="fil1C1483B93071FAB4EB45AA05BC0E0369" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpEC91232D7849C69CFED0D9ADD00D899C" Guid="{CD90F280-E7BD-4661-8136-A362E8B367F6}">
                <File Id="filA501A633D8D7BFED090F0897B8958F56" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp260DE7C401C22EB79740ABDEA4132615" Guid="{089777DD-5C96-4A50-BE7F-A2C5DBCA0FEC}">
                <File Id="fil182542F79221E681CA12F1D7D4A2BEC5" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp09B6176846D7CE6FDB48C9F54C656892" Guid="{D9328A4F-9824-4EC7-9720-88C370ABFB20}">
                <File Id="fil433FA67E647004715737FF11A145FD88" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmp7E01189842FF6F97EC1EB8AA9D9A419B" Guid="{CA46F7A6-CA53-4F3B-BE99-D73CDCFF1863}">
                <File Id="fil6D0F9FBB8445400B4970B2077708C324" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpA3344444913F8D1FFF812DD5357942C9" Guid="{17BA7D5E-EBAB-4BCD-8EA8-3A814DE5DBEB}">
                <File Id="fil2D58D81E19F3A60A5D08759FA7CBF803" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp645D17866E8EF740F3BC7C7C15EB9179" Guid="{06E4ABA3-FE41-401F-BE71-FE9C8ED39A27}">
                <File Id="filE2BC10E6E7520E2CD2607AD79E65F022" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpE26941E1D61037D01D2C79CA7C220889" Guid="{D8CDF3E4-3A3D-4021-A952-F5F7E00298FF}">
                <File Id="fil3C92887DA6403365C3A004396FE2F372" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmpA1601517DFCF81729F22B5A9732B6B5A" Guid="{C6F7C52A-7581-43CB-AE9C-40FD5C32C82E}">
                <File Id="fil5266005C932261152C2D4C47F7EA7176" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmp1E1E24B85C6503A2F5C0C212DA1E98E8" Guid="{50D136B9-8C66-4C39-A1E3-A8876E31DCBA}">
                <File Id="filE88B983F1FA3DE424EF4C93163ECE798" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp348EB75981D71CE0A8A70C1BCA0D236D" Guid="{4C04BA0B-0AD5-4A9D-A1CF-39C69DA45763}">
                <File Id="fil1E17BF1986DE702B327B2C028B4F1CE9" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmpDFDFBACC155293EAEE72041843D52448" Guid="{39C8414A-8DD7-46CF-8BBC-3ADC2BCAC4E9}">
                <File Id="fil85F4FEA761481E92716DB303C8058A22" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp82A4FB6B17B124A2D5D14DC834E5B497" Guid="{374890A3-67FC-4B62-93DD-92E111AB0CAA}">
                <File Id="fil8F33CEEE27AF3EDE01F1AADEDAD35E41" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmp900E7668FF32775261855B5787428B31" Guid="{298E0063-0E2E-4BC7-B843-87D20FA6C0F1}">
                <File Id="filD98117EA909B9817139579A365507ECC" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp7936031385B10B4F1D77F1B03BA2F302" Guid="{0BE59ED8-EF33-45F7-BF35-7E3B609A0BF0}">
                <File Id="fil38AE0B003AA45E23BD0421BAD901F6F6" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmpB784E9FD48198562A8AFDA6AAABC6ED7" Guid="{340C3B66-BD22-4FE9-AAEC-5BE56F6DC2F9}">
                <File Id="fil63DBFBBB61FA7ECA0C6AA6A30EF29ECF" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp07067513E9EA0BB6BD288AB172E274D4" Guid="{990F6504-D9DA-455A-8810-F5A7DE22004A}">
                <File Id="fil5FE1DF7E3C0B18A948ADC7E812E9B010" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp855D9ECECEA220C537A9988D2AC2ADA0" Guid="{59A58C51-7A65-453A-B43A-31879152A785}">
                <File Id="fil048557F1B59B9897DE89550832A8C912" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp58A622E105AA00C2B6DCDB1075F60CC3" Guid="{424810B8-1C12-4A01-A67C-FB7F772C0A0C}">
                <File Id="fil68F5FD1006176A2DEB9D96EBD3416DA6" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmpAC5022F8CFEE23504DFD4ED3AA985AA0" Guid="{753256C6-E863-4409-84D7-BEDDA17597F2}">
                <File Id="fil74AFDF74EF912E79AF9D8B41D7C19096" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp08D072027983A81E43D0B0C829962D30" Guid="{943350DE-7875-4798-AE25-3EB234A42EAF}">
                <File Id="fil0DE302910DB8463B30B83CCE24959C55" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmpE392EE68F400FDAF2CF92E15EF792F80" Guid="{A2D52B1E-ACED-4171-8F4B-B12303261009}">
                <File Id="fil0151EDB59DF909E66816A62A999B82EE" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmpDC91FF7BEE221BA11513FEFB8753FA23" Guid="{98B2841C-B0E5-454A-8B92-A4855C4987B4}">
                <File Id="fil8BB77456A5014118DA322565CFC7FCE0" KeyPath="yes" Source="$(var.HarvestPath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpFE1127C98958F7F3511F3B36A00C8AC2" Guid="{AF8B1FC8-A057-4C7D-83BD-C8067B1DEC39}">
                <File Id="fil45D1EFA5FFD97E14FDD6F769A860C9BC" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp541CEA514938ABBA05B1A1B5DC384CD3" Guid="{65C397B1-B032-43FA-86D7-EF43D307921E}">
                <File Id="fil05D4E4BB687C142B69C7EED4673F262A" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpF58699515D0CBBD6A88E749CEAB2C03E" Guid="{C15A2E5C-6390-4E28-9721-E6A03AAAC50B}">
                <File Id="filA24F6A62977D9960AC1AC6F8EBB31790" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp51CB29BAEBF7B0FB1B18D55F868899CB" Guid="{A60E0845-5DC8-4C57-B1E8-01E471F47258}">
                <File Id="filB1C794FA88DED3CE86496076EF66AF69" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp16BAB7F8B9013BEBFE50BA9573C5AD02" Guid="{DFF60DEB-DB5C-4BB0-B28F-D85953498064}">
                <File Id="fil645EF2635B6C482E00C98BCE21710AA0" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpD63DD728A3F00FF4ECFE4932CFAD7190" Guid="{7D880D43-DA4B-46BC-AC71-6B1D7961AAE3}">
                <File Id="filDBD5ACAF5A478CE240F333FFCB61F490" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp6F91B5A32A100D9210A451AFB06D44DB" Guid="{FA24A04D-E3C2-4163-815D-57FC99918C25}">
                <File Id="filF170322CF4D2115C65B1FFC5DCDF3A23" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmpB24C906C49ED68E413B1A29167531DB6" Guid="{64B72186-4408-4300-B6C2-259FA6EF5A2D}">
                <File Id="filEC76A2E8112946679D7A7333B8A55175" KeyPath="yes" Source="$(var.HarvestPath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp551BF5D6184803444E81D9ECA9AF6946" Guid="{03F697CF-ECDE-4E26-9F8C-7CC7FEE199F6}">
                <File Id="fil437F5EA7440B28A3C0F2B8C4967A986A" KeyPath="yes" Source="$(var.HarvestPath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp6420500FF1ABC06969E348ACB0B55D77" Guid="{6A0865AE-7939-412D-BCDE-82BE7EF7D191}">
                <File Id="filA545F6C5C51315B4671A7FE6553F80CE" KeyPath="yes" Source="$(var.HarvestPath)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpF7A83EF6EDD2BD2F89770A4A0F8C07B1" Guid="{516B334F-412A-47BE-BCFE-11F72E4FBB1E}">
                <File Id="fil419C3F69157663647462998A19C4A01F" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmpBBC346B7784585A63094516DE8F9D17C" Guid="{B4269270-B384-4977-87CB-4934A1BD29A6}">
                <File Id="fil520ECBCAEF6B23E28B0C8720F3796A3A" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp5A4B234BA09600119E19247B0D8E6FE6" Guid="{1C8D07C1-F3E7-4EC2-B14E-FA937E7FF1F9}">
                <File Id="filD05F5BA97FA58EB038BED7A946452E3B" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp66E4148CF7A98B863F61F672B9E24AC4" Guid="{1E5BE84A-16AD-449C-BFE8-77C963112456}">
                <File Id="fil6E3786634AEC010B38A922B665BD84FB" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp4F481D298443566D3A9D42A19D898A27" Guid="{0159F9BC-0B8C-4664-810B-81225F3B3A97}">
                <File Id="filF0535AC078C26064F5DD5096C128F06C" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp7C8D238EF735D170352B03B6D6CD1FBD" Guid="{99D81DEF-2766-4CFA-8939-1FC8868F42E0}">
                <File Id="fil47BCC2ACB34A0B8CC927AAE69CBE5A50" KeyPath="yes" Source="$(var.HarvestPath)\System.Xml.XPath.XDocument.dll" />
            </Component>
            <Component Id="cmp8B2244F7720D4A321DBA085E1AEE92C6" Guid="{0EF39B6E-2776-491D-BF2A-BDE92A125F7D}">
                <File Id="fil06FA533B9DB2199191C3FA18CBA1605E" KeyPath="yes" Source="$(var.HarvestPath)\Unity.Abstractions.dll" />
            </Component>
            <Component Id="cmp0CCB0EEAC401CCA1959EAEC768A287FF" Guid="{45F8A1D9-1D80-48DC-81BF-D6BF70C1C5CD}">
                <File Id="filAFCBCD3D7DBCF008E720923F4D82AFDD" KeyPath="yes" Source="$(var.HarvestPath)\Unity.Abstractions.pdb" />
            </Component>
            <Component Id="cmp27859D6CFAE9DE080D42B87063A866FD" Guid="{83C05467-ED7E-4651-8B98-0AAC40C96F4D}">
                <File Id="fil203AC9B7E3A1B253BA7575F39948F012" KeyPath="yes" Source="$(var.HarvestPath)\Unity.Container.dll" />
            </Component>
            <Component Id="cmp8018A8247B5C727F442C9E4DD18A0D6F" Guid="{A6786943-06E2-4FD5-ADB9-9500CA577CA4}">
                <File Id="filFB94137B076C87F039D833105345DE82" KeyPath="yes" Source="$(var.HarvestPath)\Unity.Container.pdb" />
            </Component>
            <Directory Id="dirD48221D01A21746C916C58A03D548BCE" Name="DatabseSetup">
                <Component Id="cmp03550BAFC54159495E266D91C76D18ED" Guid="{9809CD09-5A94-44D3-B9A1-84D23AF62E3E}">
                    <File Id="fil8FE4BD41D0E901FF51445540BB1204CB" KeyPath="yes" Source="$(var.HarvestPath)\DatabseSetup\RTFTDIF.sql" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GeneratedComponents" Directory="INSTALLFOLDER">
            <ComponentRef Id="cmp4B8871361F465B0CD0BB8C4585619283" />
            <ComponentRef Id="cmpB672282A90357A6C1784C5D098ACC9AD" />
            <ComponentRef Id="cmp9F3B8525E0F04D692C2F02377569787E" />
            <ComponentRef Id="cmp07A234C7891318D2D5BD05565EE3AEA5" />
            <ComponentRef Id="cmp8C5AF62CD7BCEFC86DC440ACEFD9C214" />
            <ComponentRef Id="cmp038FACCC80578B11747DD2EA77112BEE" />
            <ComponentRef Id="cmp73830CD9177E0CE8D8C11EADD9CF7D36" />
            <ComponentRef Id="cmp21F309C806FA488DFFFE5378BCF611FF" />
            <ComponentRef Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" />
            <ComponentRef Id="cmpEBCF0D0A4FC6E01EB62B28713DC91F16" />
            <ComponentRef Id="cmp430143AC1B965FB160AED13BF62F0CF0" />
            <ComponentRef Id="cmp5F2B662C8566260DEF107E5F8DB64CEF" />
            <ComponentRef Id="cmp58CEACCFC2B4B7DF5692547C8E74EA4D" />
            <ComponentRef Id="cmp28E06576F74BDB8BDBA84BD9353180B0" />
            <ComponentRef Id="cmp47587D6E893FE9602B596FCC4408C7B0" />
            <ComponentRef Id="cmp1C8B172154D0D9E510FE5CF40B1A5EC4" />
            <ComponentRef Id="cmpD947E2550229E0410FF8CC13D7C3C8B8" />
            <ComponentRef Id="cmpF1707418DD62DFFE24F254DC7A01A168" />
            <ComponentRef Id="cmp9CFD8F6077EAA64A188B00D4268FAA1A" />
            <ComponentRef Id="cmpBD277BBDDA3214E6CD6906751391D08B" />
            <ComponentRef Id="cmpBB6519C2BAC0597BC58C1C3F87B02CB3" />
            <ComponentRef Id="cmp921C9DB1539A19CC0B4105688D50941F" />
            <ComponentRef Id="cmp6B3D4B287C7C86EAC3C0F64DBCDDCC6D" />
            <ComponentRef Id="cmpDE9A48C1618FA47B96E8DCB8646587A3" />
            <ComponentRef Id="cmp19FEAABB4159504E3A1F2078277DF252" />
            <ComponentRef Id="cmpF8A742986260DAFDC2451820878482CD" />
            <ComponentRef Id="cmp4F3B8E6E9354C403A682AA6763F98331" />
            <ComponentRef Id="cmp8A6A28109A590CF4C48F92CF7ACBE162" />
            <ComponentRef Id="cmp0C89F58D0DAE59595BF54DB37A1CB101" />
            <ComponentRef Id="cmpEEB7D6B49D39601FBF24341DF8362CBC" />
            <ComponentRef Id="cmp35BB94EBE046695DA80625F00AE15A6D" />
            <ComponentRef Id="cmpE49A068CEE1EC2D58E43E28165A61566" />
            <ComponentRef Id="cmp95C00402E6D16B03EC9A672AFBD5F28B" />
            <ComponentRef Id="cmp08BBCF3042FA2A3A63B8F1D4AB119F46" />
            <ComponentRef Id="cmp5E0DF6403C7FE5F1C4177DB7C407F3E6" />
            <ComponentRef Id="cmp2C14DFEEA59FCDC50F5236011B7194C6" />
            <ComponentRef Id="cmp442FFE970EED4291AA569552CD47DCFF" />
            <ComponentRef Id="cmp365DD4D03A498CBF043F2E5129730F80" />
            <ComponentRef Id="cmpFB13B502405B98FC3D5D9B91156465D5" />
            <ComponentRef Id="cmpE9A753B853001A3132F0AC8B18B8EB00" />
            <ComponentRef Id="cmpE622C3CB93600C548BD343B23FF42EE8" />
            <ComponentRef Id="cmp06C8CDD284EC9C3BFF25B29C5BAFCE79" />
            <ComponentRef Id="cmp5B4A477CCB780900D714C03EBF973289" />
            <ComponentRef Id="cmp2E70A13F8878B3D396BFB0F38F143B89" />
            <ComponentRef Id="cmpF1E04B8775339ACC715F8FA97768460D" />
            <ComponentRef Id="cmp22D11CA39403A28AA9AC2DB9105A1273" />
            <ComponentRef Id="cmp07F275DE6D7E9E3A970A1A86777CEF22" />
            <ComponentRef Id="cmpD9FEE78B96F10D88D63C02E70AB799A5" />
            <ComponentRef Id="cmpDA89116CA47D6ED2AE5511C0278ECA46" />
            <ComponentRef Id="cmpCF7D159A9F6C4F17685CC3AA3AB77C61" />
            <ComponentRef Id="cmp92167893C4A70A154F72D6DA80CECEAA" />
            <ComponentRef Id="cmp4B7754714BB7B52B3E216332BD72E98B" />
            <ComponentRef Id="cmp340922508C520AC9F7D53B9608D8BD38" />
            <ComponentRef Id="cmp0F564880F72275CA7677A8DD804A8B17" />
            <ComponentRef Id="cmp5E98F56B38CF31482ACC957203361E97" />
            <ComponentRef Id="cmp8F2F2AFC021587C179C141365A3D6BB6" />
            <ComponentRef Id="cmp3FBF34ED4FE4614A5981C3EB0EB7278D" />
            <ComponentRef Id="cmp21ED214D6D9049B022FAC25D88F0E22E" />
            <ComponentRef Id="cmp3B22BEC510D0BA95B49CC4731E0B72AB" />
            <ComponentRef Id="cmpAA3288E4E0F8EDD4B915BDB149D58D86" />
            <ComponentRef Id="cmp075C0CF977B23B7E530FD43DCCCD0BA8" />
            <ComponentRef Id="cmp9B40237B1382275DBCF762EC666A3642" />
            <ComponentRef Id="cmpA6081DADA58FA2942DDC74B091A65D72" />
            <ComponentRef Id="cmp90E6A6910EED445FDEC1FE472C5CF526" />
            <ComponentRef Id="cmp5BFCA70DF937223BA6FF946025D6DFA4" />
            <ComponentRef Id="cmp2863E64FC19A1CA67C2F6C9F8AEC7200" />
            <ComponentRef Id="cmpB790EE6B9163607EC7935D2DF19C5590" />
            <ComponentRef Id="cmp59CBFE03A226AF8477FCA7546DBCF1BF" />
            <ComponentRef Id="cmp1340F860D05C3E278E5B5D807AB80DB0" />
            <ComponentRef Id="cmpD1D498F7019160F009023115E4FEE6C2" />
            <ComponentRef Id="cmp5B47063E44613CCE90C8E253A14CC5E5" />
            <ComponentRef Id="cmp8BB3565982AD2D2DED0C96703059A639" />
            <ComponentRef Id="cmp6C0977466AFC8EEE6E38CD3600F8C83C" />
            <ComponentRef Id="cmpF2595E455DEC524BB35E4AC0E09C4F69" />
            <ComponentRef Id="cmp3885D41C35A7C698E5E9741272F0BF37" />
            <ComponentRef Id="cmpB6BC4BE5EBB8340A7664DAB01BE973D7" />
            <ComponentRef Id="cmpB31F2EB4ED7747D2B1EC2BEB4D5F9A6B" />
            <ComponentRef Id="cmp75F169005ADA3DC2A95F4F7257603060" />
            <ComponentRef Id="cmpFA1D888C360F3B61DDBBB2E2B15A0AF7" />
            <ComponentRef Id="cmp30FC9B24809331DB695A7544E408AADF" />
            <ComponentRef Id="cmpEE6F3C97F8A13DFF50C82F2086ACD931" />
            <ComponentRef Id="cmp2A4F1DA964EBC16D235E6B85C5F4C470" />
            <ComponentRef Id="cmp2A8044F741CF06F5621E75D208389078" />
            <ComponentRef Id="cmpAD1E08F90B6A7114815FB78986682365" />
            <ComponentRef Id="cmp0FC5541E8992775B2D4FEEF5883D7A0D" />
            <ComponentRef Id="cmpF89F1FA48B1DA1CFD5BF3D3965A27836" />
            <ComponentRef Id="cmp034B40EC21535B804709C422E6963EBB" />
            <ComponentRef Id="cmpAAFBD0B608B2D5A98F19D1B368C06F5E" />
            <ComponentRef Id="cmpC5062445DA9609107D43D73033E1B891" />
            <ComponentRef Id="cmpB6498C4CE4FBAB2BE61E7E78764F402A" />
            <ComponentRef Id="cmp80A2E58399E3E2800D2343BF09753328" />
            <ComponentRef Id="cmpDFD28E9D7CD80800F14AA14DED487CFE" />
            <ComponentRef Id="cmpA3038A3D1F72A00B149E6F759F6786AC" />
            <ComponentRef Id="cmp9AEFC5F55F644A7ABBC072F54A6475E2" />
            <ComponentRef Id="cmp1015F0C158D41E6CB0412B4E21E94620" />
            <ComponentRef Id="cmp609558733F6FC6F9992DE4840E299F2F" />
            <ComponentRef Id="cmpED167AAE4D9652874A1F649DCF15D809" />
            <ComponentRef Id="cmp32264F2B218F58B031B8DB4D6BF26C84" />
            <ComponentRef Id="cmp123018225749B93143B4E5497284F4D8" />
            <ComponentRef Id="cmpEC91232D7849C69CFED0D9ADD00D899C" />
            <ComponentRef Id="cmp260DE7C401C22EB79740ABDEA4132615" />
            <ComponentRef Id="cmp09B6176846D7CE6FDB48C9F54C656892" />
            <ComponentRef Id="cmp7E01189842FF6F97EC1EB8AA9D9A419B" />
            <ComponentRef Id="cmpA3344444913F8D1FFF812DD5357942C9" />
            <ComponentRef Id="cmp645D17866E8EF740F3BC7C7C15EB9179" />
            <ComponentRef Id="cmpE26941E1D61037D01D2C79CA7C220889" />
            <ComponentRef Id="cmpA1601517DFCF81729F22B5A9732B6B5A" />
            <ComponentRef Id="cmp1E1E24B85C6503A2F5C0C212DA1E98E8" />
            <ComponentRef Id="cmp348EB75981D71CE0A8A70C1BCA0D236D" />
            <ComponentRef Id="cmpDFDFBACC155293EAEE72041843D52448" />
            <ComponentRef Id="cmp82A4FB6B17B124A2D5D14DC834E5B497" />
            <ComponentRef Id="cmp900E7668FF32775261855B5787428B31" />
            <ComponentRef Id="cmp7936031385B10B4F1D77F1B03BA2F302" />
            <ComponentRef Id="cmpB784E9FD48198562A8AFDA6AAABC6ED7" />
            <ComponentRef Id="cmp07067513E9EA0BB6BD288AB172E274D4" />
            <ComponentRef Id="cmp855D9ECECEA220C537A9988D2AC2ADA0" />
            <ComponentRef Id="cmp58A622E105AA00C2B6DCDB1075F60CC3" />
            <ComponentRef Id="cmpAC5022F8CFEE23504DFD4ED3AA985AA0" />
            <ComponentRef Id="cmp08D072027983A81E43D0B0C829962D30" />
            <ComponentRef Id="cmpE392EE68F400FDAF2CF92E15EF792F80" />
            <ComponentRef Id="cmpDC91FF7BEE221BA11513FEFB8753FA23" />
            <ComponentRef Id="cmpFE1127C98958F7F3511F3B36A00C8AC2" />
            <ComponentRef Id="cmp541CEA514938ABBA05B1A1B5DC384CD3" />
            <ComponentRef Id="cmpF58699515D0CBBD6A88E749CEAB2C03E" />
            <ComponentRef Id="cmp51CB29BAEBF7B0FB1B18D55F868899CB" />
            <ComponentRef Id="cmp16BAB7F8B9013BEBFE50BA9573C5AD02" />
            <ComponentRef Id="cmpD63DD728A3F00FF4ECFE4932CFAD7190" />
            <ComponentRef Id="cmp6F91B5A32A100D9210A451AFB06D44DB" />
            <ComponentRef Id="cmpB24C906C49ED68E413B1A29167531DB6" />
            <ComponentRef Id="cmp551BF5D6184803444E81D9ECA9AF6946" />
            <ComponentRef Id="cmp6420500FF1ABC06969E348ACB0B55D77" />
            <ComponentRef Id="cmpF7A83EF6EDD2BD2F89770A4A0F8C07B1" />
            <ComponentRef Id="cmpBBC346B7784585A63094516DE8F9D17C" />
            <ComponentRef Id="cmp5A4B234BA09600119E19247B0D8E6FE6" />
            <ComponentRef Id="cmp66E4148CF7A98B863F61F672B9E24AC4" />
            <ComponentRef Id="cmp4F481D298443566D3A9D42A19D898A27" />
            <ComponentRef Id="cmp7C8D238EF735D170352B03B6D6CD1FBD" />
            <ComponentRef Id="cmp8B2244F7720D4A321DBA085E1AEE92C6" />
            <ComponentRef Id="cmp0CCB0EEAC401CCA1959EAEC768A287FF" />
            <ComponentRef Id="cmp27859D6CFAE9DE080D42B87063A866FD" />
            <ComponentRef Id="cmp8018A8247B5C727F442C9E4DD18A0D6F" />
            <ComponentRef Id="cmp03550BAFC54159495E266D91C76D18ED" />
        </ComponentGroup>
    </Fragment>
</Wix>